.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  color: #3f96f3;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
  position: absolute;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}
