.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.nav__logo {
  left: -50px;
  height: 39px;
  width: 105px;
  position: relative;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 50%;
}
