.recipes {
  background-color: #0a2750;
  color: #fff;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  margin: 0 0 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
